.header {
  --mi-header-padding-y: 1rem;
  --mi-header-background: #222;
  --mi-header-contact-icon-size: 40px;
  --mi-header-button-display: none;
  --mi-header-contact-display: none;

  padding: var(--mi-header-padding-y) 0;
  border-bottom: 1px solid var(--mi-header-border-color);
  background: var(--mi-header-background);
  box-shadow: 0 .5rem 0.5rem rgb(0 0 0 / 5%), inset 0 -1px rgb(255 255 255 / 5%);

  @media(width >= 640px) {
    --mi-header-contact-display: flex;
  }

  @media(width >= 768px) {
    --mi-header-button-display: inline-flex;
  }

  &--floating {
    position: sticky;
    z-index: 500;
    top: 0;
    transition: all 0.6s;
  }

  &--hidden {
    transform: translateY(-100%);
  }

  &--sticky {
    position: sticky;
    z-index: 500;
    top: 0;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__container {
    display: flex;
    width: var(--mi-container-width);
    align-items: center;
    justify-content: space-between;
    gap: 0 1rem;
    margin-inline: auto;
  }

  &__navbar {
    display: none;

    @media(width >= 1280px) {
      display: block;
    }
  }

  &__hamburger {
    display: block;

    @media(width >= 1280px) {
      display: none;
    }
  }


  &__controls {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__contact {
    display: var(--mi-header-contact-display);
    align-items: center;
    gap: 1rem;
  }

  &__phone, &__email {
    display: flex;
    align-items: center;
    color: var(--mi-white);

    a {
      position: relative;
      color: inherit;
      font-feature-settings: 'lnum';

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: currentcolor;
        content: "";
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:visited {
        color: var(--mi-navbar-link-color);
      }

      &:hover {
        color: var(--mi-navbar-link-color);

        &::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    .svg-icon {
      width: var(--mi-header-contact-icon-size);
      height: var(--mi-header-contact-icon-size);
    }
  }

  &__button {
    display: var(--mi-header-button-display);
    height: 48px;
  }
}
