extends layouts/main/layout

block vars
  - browserTitle = 'Главная страница'
  - isIndexPage = true
  - layoutMofifiers = 'layout--index'
  - notShowNavChain = "Y"
  - notShowHeadline = "Y"

block content
  include components/hero-slider