footer.footer.layout__footer
  .footer__container
    .footer__bottom
      .footer__description &copy; 2025 <span>ИП Тяжелкова Ольга Николаевна</span>
      .footer__links
        a(href="policy.html") Политика конфиденциальности