header.header.header--sticky.layout__header
  .header__container
    .header__nav
      a.logo.header__logo(href="/" aria-label="Переход на главную страницу")
        span Site logo
      include ../../components/navbar
    .header__controls
      .header__contact
        .header__phone
          svg(class="svg-icon" viewBox="0 0 58 58" width="58" height="58"): use(xlink:href="#svg-phone")
          a(href="tel:+79535636731") +7 (953) 563-67-31
        .header__email
          svg(class="svg-icon" viewBox="0 0 58 58" width="58" height="58"): use(xlink:href="#svg-email")
          a(href="mailto:xrom.nnov@mail.ru") xrom.nnov@mail.ru
        button(type="button" class="btn btn--red header__button" data-toggle='modal' data-target="#contactModal") Заказать звонок
      include ../../components/hamburger
