header.header.header--sticky.layout__header
  .header__container
    a.logo.header__logo(href="/" aria-label="Переход на главную страницу")
      span Site logo
    include ../../components/hamburger
    include ../../components/navbar