.hero
  .hero__banner
    .hero__media
      picture
        img(src="images/hero/hero_w1600.jpg")
    .hero__container
      .hero__content
        h1.hero__title Гальванические покрытия и анодное оксидирование металлов
