.hero
  .hero__wrapper
    .hero__slider.swiper
      .swiper-wrapper
        .swiper-slide
          .hero__banner
            .hero__media
              picture
                img(src="images/hero/hero_w1600.jpg")
            .hero__container
              .hero__content
                h1.hero__title Гальванические покрытия и анодное оксидирование металлов
        .swiper-slide
          .hero-slide.hero__slide
            .hero-slide__container
              .hero-slide__media
                .hero-slide__image
                  picture
                    img(src="images/service/service_01.png")
              .hero-slide__info
                .hero-slide__content
                  .hero-slide__name Гальваническое хромирование
                  .hero-slide__description
                    p Повышение износостойкости деталей и защита от коррозии путём нанесения тонкого слоя хрома методом электролиза.
                    p Идеально подходит для автомобильной промышленности, машиностроения и ювелирного дела.
        .swiper-slide
          .hero-slide.hero__slide
            .hero-slide__container
              .hero-slide__media
                .hero-slide__image
                  picture
                    img(src="images/service/service_02.png")
              .hero-slide__info
                .hero-slide__content
                  .hero-slide__name Никелирование
                  .hero-slide__description
                    p Защитно-декоративное покрытие деталей никелем для повышения коррозионной стойкости, улучшения внешнего вида и увеличения долговечности и срока службы изделий.
                    p Используется в автоиндустрии, аэрокосмической сфере и электронике.
        .swiper-slide
          .hero-slide.hero__slide
            .hero-slide__container
              .hero-slide__media
                .hero-slide__image
                  picture
                    img(src="images/service/service_03.png")
              .hero-slide__info
                .hero-slide__content
                  .hero-slide__name Анодирование алюминия
                  .hero-slide__description
                    p Создание защитного оксидного покрытия на поверхности алюминиевых изделий для повышения устойчивости к коррозии, износа и декоративности.
                    p Широко применяется в строительстве, производстве мебели, электротехнике и автомобилестроении.
        .swiper-slide
          .hero-slide.hero__slide
            .hero-slide__container
              .hero-slide__media
                .hero-slide__image
                  picture
                    img(src="images/service/service_04.png")
              .hero-slide__info
                .hero-slide__content
                  .hero-slide__name Меднение
      .swiper-pagination