.mobile-menu(data-lenis-prevent="true")
  .mobile-menu__backdrop
  .mobile-menu__container
    .mobile-menu__content
      .mobile-menu__body
        nav.mobile-menu__nav
          .mobile-menu__item: a(href="uslugi.html").mobile-menu__link: span Услуги
          .mobile-menu__item: a(href="/").mobile-menu__link: span Примеры работ
          .mobile-menu__item: a(href="/").mobile-menu__link: span Полезное
          .mobile-menu__item: a(href="kontakty.html").mobile-menu__link: span Контакты
      .mobile-menu__bottom
        button(class="btn btn--red mobile-menu__button" data-toggle='modal' data-target="#contactModal") Оставить заявку
