.mobile-menu(data-lenis-prevent="true")
  .mobile-menu__backdrop
  .mobile-menu__container
    .mobile-menu__content
      .mobile-menu__body
        nav.mobile-menu__nav
          .mobile-menu__item
            a(href="/").mobile-menu__link: span Главная
          .mobile-menu__item
            a(href="list.html").mobile-menu__link: span Список страниц
      .mobile-menu__bottom
        button(class="btn btn--primary mobile-menu__button" data-toggle='modal' data-target="#contactModal") Связаться с нами
