nav.navbar.header__navbar
  ul.navbar__list
    li.navbar__item: a(href="/").navbar__link Главная
    li.navbar__item: a(href="uslugi.html").navbar__link Услуги
    li.navbar__item: a(href="kontakty.html").navbar__link Контакты
    li.navbar__item: button(type="button" class="btn btn--red navbar__button") Связаться с нами