nav.navbar.header__navbar
  ul.navbar__list
    li.navbar__item: a(href="uslugi.html").navbar__link Услуги
    li.navbar__item: a(href="/").navbar__link Примеры работ
    li.navbar__item: a(href="/").navbar__link Полезное
    li.navbar__item: a(href="kontakty.html").navbar__link Контакты