svg(style="display:none")
  defs
    g(id="svg-logo")
      // viewBox="0 0 164 40"
      path(d='M148.435 39.9999C147.114 39.9999 145.865 39.8214 144.687 39.4645C143.509 39.1075 142.456 38.5899 141.527 37.9116C140.599 37.1976 139.85 36.323 139.278 35.2878C138.743 34.2168 138.475 32.9674 138.475 31.5394C138.475 29.7188 138.832 28.2373 139.546 27.095C140.26 25.9169 141.224 25.0245 142.438 24.4176C143.687 23.8107 145.097 23.4002 146.668 23.186C148.239 22.9361 149.881 22.8112 151.594 22.8112H157.11C157.11 21.5617 156.913 20.4908 156.521 19.5983C156.128 18.6702 155.503 17.9384 154.647 17.4029C153.826 16.8674 152.755 16.5997 151.434 16.5997C150.577 16.5997 149.774 16.7068 149.024 16.9209C148.31 17.0994 147.685 17.4029 147.15 17.8313C146.65 18.2239 146.293 18.7416 146.079 19.3841H139.386C139.635 17.9205 140.135 16.6711 140.885 15.6358C141.67 14.5649 142.616 13.6902 143.723 13.012C144.865 12.3337 146.115 11.8339 147.471 11.5126C148.828 11.1557 150.202 10.9772 151.594 10.9772C155.7 10.9772 158.681 12.1552 160.537 14.5113C162.429 16.8674 163.375 20.1695 163.375 24.4176V39.6251H157.592L157.431 35.9839C156.61 37.1976 155.628 38.0901 154.486 38.6612C153.344 39.2324 152.237 39.5894 151.166 39.7322C150.095 39.9107 149.185 39.9999 148.435 39.9999ZM149.72 34.6987C151.148 34.6987 152.416 34.431 153.522 33.8955C154.629 33.36 155.503 32.6104 156.146 31.6465C156.824 30.6827 157.163 29.576 157.163 28.3266V27.4163H152.023C151.166 27.4163 150.309 27.452 149.453 27.5234C148.631 27.5591 147.882 27.7019 147.204 27.9517C146.525 28.1659 145.972 28.5051 145.544 28.9691C145.151 29.4332 144.955 30.0936 144.955 30.9504C144.955 31.8072 145.169 32.5033 145.597 33.0388C146.061 33.5742 146.65 33.9848 147.364 34.2703C148.114 34.5559 148.899 34.6987 149.72 34.6987Z' fill='white')
      path(d='M121.951 39.9999C119.024 39.9999 116.56 39.4109 114.561 38.2329C112.562 37.0191 111.045 35.3235 110.01 33.1459C108.974 30.9683 108.457 28.4515 108.457 25.5956C108.457 22.7398 108.992 20.223 110.063 18.0454C111.134 15.8321 112.705 14.1008 114.775 12.8513C116.846 11.6019 119.363 10.9772 122.326 10.9772C124.503 10.9772 126.431 11.352 128.109 12.1017C129.822 12.8513 131.197 13.958 132.232 15.4216C133.303 16.8496 133.981 18.6345 134.267 20.7764H127.841C127.413 19.4198 126.699 18.4381 125.699 17.8313C124.735 17.1887 123.575 16.8674 122.219 16.8674C120.398 16.8674 118.952 17.3136 117.881 18.2061C116.846 19.0629 116.096 20.1517 115.632 21.4725C115.168 22.7933 114.936 24.1677 114.936 25.5956C114.936 27.095 115.186 28.5051 115.686 29.8259C116.186 31.111 116.953 32.1463 117.988 32.9317C119.059 33.717 120.434 34.1097 122.111 34.1097C123.468 34.1097 124.682 33.8063 125.753 33.1994C126.859 32.5925 127.573 31.6108 127.895 30.2543H134.535C134.285 32.4319 133.553 34.2525 132.339 35.7161C131.161 37.1441 129.662 38.215 127.841 38.929C126.02 39.6429 124.057 39.9999 121.951 39.9999Z' fill='white')
      path(d='M96.6638 39.6252V11.4056H103.197V39.6252H96.6638ZM99.9302 8.13922C98.6808 8.13922 97.6812 7.76439 96.9316 7.01473C96.1819 6.26506 95.8071 5.28335 95.8071 4.06961C95.8071 2.89156 96.1997 1.92771 96.9851 1.17804C97.7705 0.392681 98.7522 0 99.9302 0C101.073 0 102.054 0.374832 102.875 1.1245C103.696 1.87416 104.107 2.85587 104.107 4.06961C104.107 5.28335 103.714 6.26506 102.929 7.01473C102.144 7.76439 101.144 8.13922 99.9302 8.13922Z' fill='white')
      path(d='M89.2655 39.6252C86.9808 39.6252 85.0888 39.3218 83.5894 38.7149C82.1258 38.108 81.0192 37.1263 80.2695 35.7698C79.5555 34.4133 79.1985 32.5926 79.1985 30.3079V17.1888H74.8612V11.4057H79.1985V3.53418H85.7313V11.4057H92.3177V17.1888H85.7313V29.4512C85.7313 30.8791 85.9812 31.9679 86.481 32.7176C86.9808 33.4672 88.1053 33.8421 89.8545 33.8421H92.1035V39.6252H89.2655Z' fill='white')
      path(d='M58.8387 39.9999C55.9115 39.9999 53.4126 39.3931 51.3421 38.1793C49.3073 36.9656 47.7544 35.2878 46.6834 33.1459C45.6482 30.9683 45.1306 28.4515 45.1306 25.5956C45.1306 22.7398 45.666 20.223 46.737 18.0454C47.8436 15.8321 49.4144 14.1008 51.4492 12.8513C53.5197 11.6019 56.0007 10.9772 58.8923 10.9772C61.0342 10.9772 62.9084 11.3699 64.5148 12.1552C66.1212 12.9049 67.4599 13.9401 68.5309 15.261C69.6375 16.5818 70.4586 18.0811 70.994 19.759C71.5295 21.4368 71.7794 23.2039 71.7437 25.0602C71.708 25.4886 71.6723 25.9169 71.6366 26.3453C71.6009 26.738 71.5474 27.1664 71.476 27.6305H51.6634C51.7705 28.8799 52.0918 30.0222 52.6272 31.0575C53.1984 32.0927 53.9838 32.9138 54.9833 33.5207C56.0186 34.1276 57.3037 34.431 58.8387 34.431C59.7312 34.431 60.588 34.3239 61.409 34.1097C62.2301 33.8598 62.9441 33.5028 63.5509 33.0388C64.1935 32.5747 64.6219 31.9857 64.8361 31.2717H71.3689C70.9048 33.3065 70.048 34.9665 68.7986 36.2516C67.5492 37.5367 66.0498 38.4828 64.3006 39.0896C62.5871 39.6965 60.7665 39.9999 58.8387 39.9999ZM51.7705 22.7576H65.3715C65.3715 21.5796 65.1038 20.5086 64.5683 19.5448C64.0329 18.5809 63.2653 17.8313 62.2658 17.2958C61.3019 16.7246 60.1239 16.439 58.7317 16.439C57.2323 16.439 55.9829 16.7425 54.9833 17.3493C53.9838 17.9562 53.2162 18.7416 52.6808 19.7054C52.1453 20.6693 51.8419 21.6867 51.7705 22.7576Z' fill='white')
      path(d='M14.0939 39.6251V11.4056H20.1983L20.5731 14.9932C21.3228 13.9937 22.1974 13.2083 23.197 12.6371C24.1965 12.066 25.2496 11.6554 26.3563 11.4056C27.4629 11.12 28.4982 10.9772 29.462 10.9772C32.1394 10.9772 34.2456 11.5662 35.7807 12.7442C37.3514 13.9223 38.458 15.493 39.1006 17.4564C39.7432 19.4198 40.0645 21.6153 40.0645 24.0428V39.6251H33.5317V25.1137C33.5317 24.0785 33.4603 23.0789 33.3175 22.1151C33.1747 21.1155 32.8891 20.223 32.4607 19.4377C32.068 18.6523 31.4969 18.0276 30.7472 17.5635C29.9975 17.0994 28.998 16.8674 27.7485 16.8674C26.2135 16.8674 24.9105 17.2779 23.8396 18.099C22.7686 18.9201 21.9654 20.0267 21.4299 21.4189C20.8944 22.7755 20.6267 24.3284 20.6267 26.0776V39.6251H14.0939Z' fill='white')
      path(d='M0 39.6252V1.76709H6.69345V39.6252H0Z' fill='white')

    g(id="svg-phone")
      // viewBox="0 0 58 58"
      path(d='M15.0003 21.3691C14.9929 19.7243 15.1438 18.6073 15.674 17.5662C16.5612 15.8129 18.1037 15.0936 20.0108 15.0032C20.5482 14.9779 20.9458 15.2309 21.2293 15.7117C22.0761 17.1577 22.9486 18.5892 23.8137 20.0243C24.3807 20.9642 24.285 21.5282 23.4493 22.2403C22.8345 22.7609 22.216 23.2778 21.6085 23.8056C20.9532 24.3767 20.8096 24.9877 21.1483 25.7902C21.9472 27.688 23.2026 29.2894 24.5868 30.7969C26.3503 32.7236 28.3199 34.4118 30.6834 35.612C30.8785 35.7096 31.0773 35.8 31.2798 35.8795C32.005 36.1651 32.6235 36.0241 33.1352 35.4385C33.7059 34.7878 34.2544 34.119 34.8177 33.4647C35.4803 32.6911 36.0878 32.6477 36.9419 33.1791C38.3114 34.0322 39.7067 34.842 41.102 35.659C41.8824 36.1145 42.096 36.5157 41.9671 37.405C41.5327 40.3909 39.7325 41.9128 36.478 41.996C34.3391 42.0502 32.3069 41.5188 30.3226 40.785C28.5039 40.1126 26.9135 39.0642 25.4115 37.8785C22.2454 35.3806 19.4769 32.5212 17.3932 29.0834C15.8654 26.5674 15.1217 23.7983 15.0003 21.3691Z')

    g(id="svg-email")
      // viewBox="0 0 58 58"
      path(d='M44.2033 17.4952C44.3741 17.3289 44.5474 17.1601 44.7238 16.987C44.2033 16.7235 43.7147 16.6714 43.2125 16.6714C33.7365 16.6732 24.2596 16.6732 14.7835 16.6732C14.7475 16.6732 14.7113 16.6723 14.675 16.6713C14.5735 16.6687 14.472 16.666 14.3744 16.6842C14.1323 16.7301 13.8919 16.7848 13.6301 16.8443C13.5158 16.8703 13.3975 16.8973 13.2732 16.9248C13.3268 16.9817 13.3698 17.028 13.4065 17.0674C13.4653 17.1306 13.5078 17.1763 13.5517 17.2203C18.3842 22.0768 23.2167 26.9333 28.0501 31.7889C28.6656 32.4064 29.3405 32.4055 29.9596 31.7834C31.8425 29.8922 33.7252 28.0006 35.6079 26.109L35.6345 26.0823C38.1577 23.5473 40.6814 21.0117 43.2052 18.4772C43.5313 18.1498 43.8623 17.8274 44.2033 17.4952Z')
      path(d='M46.2154 39.5232C46.3058 39.2469 46.4026 38.9496 46.4994 38.6523V19.3424C46.4035 19.0451 46.3067 18.7478 46.2336 18.5246C42.7079 22.0218 39.1857 25.5153 35.6445 29.0271L39.3 32.657C41.6008 34.9417 43.9032 37.2279 46.2154 39.5232Z')
      path(d='M34.1211 30.5286L34.0892 30.5582C34.0416 30.6022 33.9703 30.6681 33.9024 30.7368C33.6634 30.977 33.4253 31.2181 33.1872 31.4592C32.592 32.0618 31.997 32.6643 31.3885 33.2524C31.0981 33.5341 30.7666 33.7994 30.4077 33.9787C29.1503 34.6072 27.6992 34.3346 26.6692 33.3155C26.0126 32.666 25.3591 32.0135 24.7239 31.3792L24.7231 31.3784C24.4424 31.0981 24.1653 30.8214 23.8931 30.5501C20.9685 33.451 18.0458 36.3493 15.1124 39.2582L13.3213 41.0343C13.8071 41.2713 14.2957 41.328 14.8016 41.328C24.255 41.3261 33.7084 41.3261 43.1617 41.3261H43.1913C43.23 41.3261 43.269 41.3271 43.3081 41.3282C43.4181 41.331 43.5283 41.3338 43.6341 41.3142C43.8723 41.2696 44.1087 41.2149 44.3701 41.1545C44.4884 41.1271 44.6126 41.0984 44.7436 41.0691L42.7236 39.0646C39.8333 36.1965 36.9832 33.3683 34.1211 30.5286Z')
      path(d='M22.3595 28.9651C18.8401 25.4707 15.3253 21.9809 11.7986 18.48C11.5995 18.8871 11.5 19.3418 11.5 19.8266C11.5027 21.9829 11.5024 24.1387 11.5021 26.2948C11.5019 27.0135 11.5018 27.7322 11.5018 28.451C11.5018 29.3734 11.502 30.2957 11.5021 31.2181C11.5025 33.524 11.5029 35.8298 11.5009 38.1357C11.5009 38.6306 11.5849 39.1008 11.7785 39.4649C15.2979 35.9732 18.8191 32.4797 22.3595 28.9651Z')

    g(id="svg-search")
      // viewBox="0 0 26 26"
      path(fill-rule='evenodd' clip-rule='evenodd' d='M17.4452 18.6039C15.9517 19.7909 14.0613 20.5 12.0054 20.5C7.17288 20.5 3.25537 16.5825 3.25537 11.75C3.25537 6.91751 7.17288 3 12.0054 3C16.8379 3 20.7554 6.91751 20.7554 11.75C20.7554 13.8059 20.0463 15.6962 18.8594 17.1897L23.9626 22.2928L22.5483 23.7071L17.4452 18.6039ZM18.7554 11.75C18.7554 15.4779 15.7333 18.5 12.0054 18.5C8.27745 18.5 5.25537 15.4779 5.25537 11.75C5.25537 8.02208 8.27745 5 12.0054 5C15.7333 5 18.7554 8.02208 18.7554 11.75Z')

    g(id="svg-close")
      path(d='M2 2L12.5 12.5M23 23L12.5 12.5M12.5 12.5L23 2M12.5 12.5L2 23' stroke='#E04E39' stroke-width='3' stroke-linejoin='round')

    g(id="svg-link-back-arrow")
      // viewBox="0 0 23 12"
      path(d='M22.064 6.25L1.9999 6.25M1.9999 6.25L7.1558 0.749999M1.9999 6.25L7.1558 11.25' stroke='white' stroke-width='2')

    g(id="svg-link-big-arrow")
      // viewBox="0 0 28 28"
      path(d='M2 26.0984L23.8193 4.27906' stroke='white' stroke-width='4')
      path(d='M4.41797 2.41821L25.5758 2.41821L25.5758 23.576' stroke='white' stroke-width='4')

    g(id="svg-catalog-item-arrow")
      // viewBox="0 0 23 13"
      path(d='M0.578613 6H20.6427M20.6427 6L15.4868 11.5M20.6427 6L15.4868 1' stroke-width='2')

    g(id="svg-review-quatation")
      // viewBox="0 0 86 63"
      path(d='M67.9598 62.9864C61.6992 62.823 57.1686 60.6172 54.3678 56.3691C51.5671 52.121 50.1667 47.2194 50.1667 41.6641C50.1667 35.292 51.4847 29.2466 54.1207 23.528C56.9215 17.8094 60.4636 12.9077 64.7471 8.823C69.1954 4.57489 73.8908 1.63389 78.8333 0L86 10.0484C83.8582 11.5189 81.5517 13.4796 79.0805 15.9304C76.7739 18.2178 74.6322 20.6687 72.6552 23.2829C70.8429 25.8971 69.6073 28.5113 68.9483 31.1256C72.0785 31.289 74.7969 32.1059 77.1034 33.5764C79.41 34.8835 81.2222 36.6808 82.5402 38.9682C83.8582 41.0923 84.5172 43.7065 84.5172 46.8109C84.5172 52.2027 82.8697 56.2874 79.5747 59.065C76.2797 61.8427 72.408 63.1498 67.9598 62.9864ZM18.0402 62.9864C11.6149 62.823 7.00191 60.6172 4.20115 56.3691C1.40038 52.121 0 47.2194 0 41.6641C0 35.292 1.31801 29.2466 3.95402 23.528C6.75479 17.8094 10.2969 12.9077 14.5805 8.823C19.0287 4.57489 23.7241 1.63389 28.6667 0L35.8333 10.0484C33.6916 11.5189 31.3851 13.4796 28.9138 15.9304C26.6073 18.2178 24.5479 20.6687 22.7356 23.2829C20.9234 25.8971 19.6054 28.5113 18.7816 31.1256C21.9119 31.289 24.6303 32.1059 26.9368 33.5764C29.2433 34.8835 31.0556 36.6808 32.3736 38.9682C33.6916 41.0923 34.3506 43.7065 34.3506 46.8109C34.3506 52.2027 32.7031 56.2874 29.408 59.065C26.113 61.6793 22.3238 62.9864 18.0402 62.9864Z' fill='#8DF315')

    g(id="svg-icon-paperclip")
      // viewBox="0 0 25 24"
      path(d='M21.9403 11.05L12.7503 20.24C11.6244 21.3659 10.0975 21.9984 8.50529 21.9984C6.91311 21.9984 5.38613 21.3659 4.26029 20.24C3.13445 19.1142 2.50195 17.5872 2.50195 15.995C2.50195 14.4029 3.13445 12.8759 4.26029 11.75L13.4503 2.56004C14.2009 1.80948 15.2188 1.38782 16.2803 1.38782C17.3417 1.38782 18.3597 1.80948 19.1103 2.56004C19.8609 3.3106 20.2825 4.32859 20.2825 5.39004C20.2825 6.4515 19.8609 7.46948 19.1103 8.22004L9.91029 17.41C9.53501 17.7853 9.02602 17.9962 8.49529 17.9962C7.96456 17.9962 7.45557 17.7853 7.08029 17.41C6.70501 17.0348 6.49418 16.5258 6.49418 15.995C6.49418 15.4643 6.70501 14.9553 7.08029 14.58L15.5703 6.10004' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

    g(id="svg-accordion-arrow-down")
      // viewBox="0 0 24 24" use stroke in CSS to set color
      path(d='M6 9L12 15L18 9' stroke-linecap='round' stroke-linejoin='round')

    g(id="svg-arrow-left")
      // viewBox="0 0 1024 1024"
      path(d='M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z' fill='currentColor')

    g(id="svg-arrow-up")
      // viewBox="0 0 1024 1024"
      path(d='M903.232 768l56.768-50.432L512 256l-448 461.568 56.768 50.432L512 364.928z' fill='currentColor')

    g(id="svg-arrow-right")
      // viewBox="0 0 1024 1024"
      path(d='M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z' fill='currentColor')

    g(id="svg-arrow-down")
      // viewBox="0 0 1024 1024"
      path(d='M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z' fill='currentColor')

    // svg(class="svg-icon" viewBox="0 0 32 32" width="32" height="32"): use(xlink:href="#svg-search")