include ../mixins/stage

section.section.section--stage
  .section__container
    .section__head
      .section__title Этапы работы
    .section__content
      +stage({
        list: [
          {
            name: 'Заявка',
            text: 'Оставьте заявку на сайте или позвоните нам. Также можно запросить КП по E-mail.'
          },
          {
            name: 'Смета и договор',
            text: 'Составим смету и договор после согласования цен, сроков и объема работ.'
          },
          {
            name: 'Выполнение работ',
            text: 'Оставьте заявку на сайте или позвоните нам. Также можно запросить КП по E-mail.'
          },
          {
            name: 'Отгрузка продукции',
            text: 'Составим смету и договор после согласования цен, сроков и объема работ.'
          }
        ]
      })