section.section
  .section__container
    .section__head
      .section__title О нас
    .section__content.db-content
      p Наша компания оказывает широкий спектр услуг по нанесению защитных покрытий на различные металлы и сплавы. Благодаря собственной производственной базе сроки выполнения работ минимальны. Наличие в штате специалистов полностью исключает брак покрытий, а благодаря качественному оборудованию весь технический процесс выполняется точно в соответствии с ГОСТ 9.301-86.