.rating-area
  input(type="radio" id="star-5" class="rating-area__input" name="rating" value="5")
  label(for="star-5" title="Оценка «5»")

  input(type="radio" id="star-4" class="rating-area__input" name="rating" value="4")
  label(for="star-4" title="Оценка «4»")

  input(type="radio" id="star-3" class="rating-area__input" name="rating" value="3")
  label(for="star-3" title="Оценка «3»")

  input(type="radio" id="star-2" class="rating-area__input" name="rating" value="2")
  label(for="star-2" title="Оценка «2»")

  input(type="radio" id="star-1" class="rating-area__input" name="rating" value="1")
  label(for="star-1" title="Оценка «1»")
