:root {
  --mi-color-gray: #969696;
  --mi-color-green: green;
  --mi-color-orange: #E69864;
  --mi-color-yellow: #ffd61e;
  --mi-color-brown: #232020;
  --mi-color-silver: #c0c0c0;
  --mi-white: #fff;
  --mi-black: #000;
  --mi-shadow-fill: #00000040;
  --mi-header-shadow-fill: #4677BD19;
  --mi-color-carmine: #960018;
  --mi-color-cardinal: #c41e3a;
  --mi-color-titian: #d53e07;
  --mi-color-red: #f00;
  --mi-color-scarlet: #ff2400;
  --mi-color-carmine-red: #f03;
}