.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);

  @media(width >= 1200px) {
    font-size: 2.5rem;
  }
}

.h2, h2 {
  font-size: calc(1.325rem + .9vw);

  @media(width >= 1200px) {
    font-size: 2rem;
  }
}

.h3, h3 {
  font-size: calc(1.3rem + .6vw);

  @media(width >= 1200px) {
    font-size: 1.75rem;
  }
}

.h4, h4 {
  font-size: calc(1.275rem + .3vw);

  @media(width >= 1200px) {
    font-size: 1.5rem;
  }
}